.headline {
    padding-top: 1em;
    color: lightcoral;
}


footer {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%; /* adjust as per requirement */
  }
  
  .footer_logo {
   
    margin: auto;
  }

  footer .col-4:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%; /* adjust as per requirement */
    margin-top: 25px;
}
  
  footer h1 {
    color: white;
    text-align: center;
  }
  
  footer p {
    color: white;
    text-align: center;
  }
  