
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Mobile-first, responsive layout */
.intro_section {
    display: flex;
    flex-direction: column;
}
.headline {
    font-size: 10em;
    color: lightcoral;
    font-family: 'Roboto', sans-serif;
    margin-top: .4em;
    text-align: center;
}
.intro {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding-top: 5em;
}

/* Media query for medium screens */
@media only screen and (min-width: 600px ) {
.intro_section {
    display: flex;
    flex-direction: row;
}
.headline {
    font-size: 8em;
    color: lightcoral;
    font-family: 'Roboto', sans-serif;
    margin-top: .4em;
    margin-right: .2em;
}
.intro {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    padding-top: 5em;
    padding-left: 4em;
}
}


/* Media query for larger screens */
@media only screen and (min-width: 1200px ) {
    .intro_section {
        display: flex;
        flex-direction: row;
    }
    .headline {
        font-size: 22em;
        color: lightcoral;
        font-family: 'Roboto', sans-serif;
        margin-top: .4em;
        margin-right: .2em;
    }
    .intro {
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
        padding-top: 5em;
        padding-left: 4em;
    }
    }