{% extends 'base.html' %}
<!DOCTYPE html>
<html>
 <head>
    <title>Dom Caracappa | Contact</title>
   
 </head>
       {% block container %}
         <body>
        <div class="contact_grid">
            <div class="contact_title">
                <h1>Get in touch</h1>
            </div>
            <div class="contact_info">
                <p class="contact_info_name">
                    Dom Caracappa
                </p>
                <p class="contact_info_email">
                    <a href="mailto:dom@cappawrite.com">dom@cappawrite.com</a>
                </p>
                <p class="contact_info_phonenumber">
                    732.284.0399
                </p>
            </div>
        </div>  
         </body>
       </html>
    {% endblock %}
</html>