{% extends 'base.html' %}

{% block container %}

    <div class="intro_section">
        <h1 class="headline">Hi.</h1>
        <p class="intro">
        My name is Dom Caracappa, an East Coast transplant living in the Bay Area. I've been a technical writer for more than seven years with experience in government, healthcare, manufacturing, and international development.   
        <br>
        <br>
        Technical writers work with companies to analyze the gaps that documentation can fill and then produce solutions which add value to the final product. We translate from one group to another, like engineers to technicians or researchers to medical professionals, learning both group’s languages to create understanding and build knowledge. 
        <br>
        <br>
        Technical writers create user manuals, standard operating procedures (SOPs), and other documentation that help users understand and effectively use complex technology systems. Producing these require interviewing and research skills, detective work, project management experience… and sometimes writing ability. 
        <br>
        <br>
        Add to that graphic design work, information design (graphs, facts, figures, etc.), and applying a logical information architecture the entire body of information – from the single document to the all-encompassing knowledge base. Finally, to produce the best modern documentation, we need to stay up to date with the latest technology to deliver an edge on meeting the needs of the business. 
        <br>
        <br>
        At the end, if you’ve done it well, you’ve told the world about an amazing product and showcased the work of some incredible people. People can’t use the best product in the world something if they don’t understand how it works, and companies can’t produce that incredible product without rigorous and complete steps to reproduce it correctly every single time. 
        <br>
        <br>
        It’s a really neat job. 
        </p>

  </div>

</div>
{% endblock %}